<h1>This Button adds a new car model</h1>
<form action="/items" method="post">
  <label for="makeModel">Add a new car model</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="price">Add a new car model</label>
  <input id="price" name="price" type="text">
  <label for="miles">Add a new car model</label>
  <input id="miles" name="miles" type="text">
  <label for="message">Add a new car model</label>
  <input id="message" name="message" type="text">
  <button type="submit">Submit</button>
</form>
