@using CarDealership.Models;

<h1>Cars List</h1>
@if (Model.Count == 0)
    {
    <p>There are no items in the list.</p>
    }
<ul>
  @foreach (Car item in Model)
  {
    <li> Car Model: @item.MakeModel</li> 
    <li>Price: @item.Price</li>
    <li>Miles: @item.Miles</li>
    <li>Condition: @item.Message</li>
    <p>==================================</p>
  }
</ul>
<a href="/items/new">Add a new car</a>